#ping{
  background-image: url("../image/1.jpeg");
  background-size: cover;
  padding:255px;

}
#play{
  background-color: green;
  padding: 25px;
}
#imagelink{
  margin-top: 30px;
}
#col1{
  background-image: url("../image/2.jpeg");
  background-size: cover;
  padding:255px;
}
#ee{
background-color: blue
}
